<!DOCTYPE html>

<html>
<head>
    <% include _head %>
</head>
<body>
    <div class="wrap transition" id="Wrap">
        <% include _nav %>
        <section class="list-config am-g">
            <div class="am-u-sm-12 am-u-md-8 am-u-sm-centered">
                <!-- <h4>已有配置：</h4> -->
                <% include _breadcrumb %>
                <div class="am-u-sm-12 am-u-md-12 am-u-sm-centered list_new_padding">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <div class="am-list-news-hd am-cf">
                        </div>
                        <div class="am-list-news-bd">
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
</div>
</body>
</html>