<!DOCTYPE html>

<html>
<head>
    <% include _head %>
</head>
<body>
	<div class="wrap transition" id="Wrap">
        <% include _nav %>
        <section class="list-config am-g">
            <div class="am-u-sm-12 am-u-md-8 am-u-sm-centered">
                <!-- <h4>已有配置：</h4> -->
                <% include _breadcrumb %>
                <div class="am-u-sm-12 am-u-md-12 am-u-sm-centered list_new_padding">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
				  	<!--列表标题-->
				    <div class="am-list-news-hd am-cf">
				       <!--带更多链接-->
				        <!-- <a href="##" class="">
				          <h2>栏目标题</h2>
				            <span class="am-list-news-more am-fr">更多 &raquo;</span>
				        </a> -->
				    </div>
				  	<div class="am-list-news-bd">
					  	<ul class="am-list">	
					  		<% for(var i=0; i < site_name.length; i++){ %>
					      	<li class="am-g am-list-item-dated">
					            <a href="news/<%= site_name[i] %>" class="am-list-item-hd "><%= site_name[i] %></a>
					      	</li>
					      	<%}%>
					  	</ul>
				    </div>
			    </div>
          	</div>
            </div>
        </section>
        
</div>
</body>
</html>